.vertical-center {
	min-height: 100vh; /* These two lines are counted as one :-)       */
	text-align: center;
	align-items: center;
}

.message-panel {
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	padding: 14px 8px 8px;
	font-weight: bold;
	font-size: 12px;
	color: rgb(112, 112, 112);
}

.message-panel-body {
	font-weight: lighter;
	font-size: 12px;
	list-style-position: outside;
	margin-left: -25px;
}